@import "tailwindcss";

:root {
  --background: #0B192F;
  /* Deep Midnight Blue */
  --foreground: #ededed;
  --accent: #9F70FD;
  /* Electric Purple */
  --card-background: #1A1A1A;
  /* Carbon Gray */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}